.texto-encima {
    position: absolute;
    top: 200px;
    left: 50%;
}

.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper {
    height: 100% !important;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.wrapperw {
    display: grid;
    background-color: #fff;
    color: #444;
    height: 100%;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
}

.boxw {
    background-color: #444;
    color: #fff;
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.im1 {
    grid-row: 1 / span 4;
    grid-column: 1 / span 1;
    background-image: url("images/galeria/cabin1.jpg");
    background-size: cover;
    background-position: center;
}

.im2 {
    grid-row: 5 / span 1;
    grid-column: 1 / span 1;
    background-image: url("images/galeria/cabin2.jpg");
    background-size: cover;
    background-position: top left;
}

.im3 {
    grid-row: 1 / span 2;
    grid-column: 2 / span 1;
    background-image: url("images/galeria/cabin3.jpg");
    background-size: cover;
    background-position: center;
}

.im4 {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
    background-image: url("images/galeria/cabin4.jpg");
    background-size: cover;
    background-position: center;
}

.im5 {
    grid-row: 4 / span 2;
    grid-column: 2 / span 1;
    background-image: url("images/galeria/cabin5.jpg");
    background-size: cover;
    background-position: center;
}

.im6 {
    grid-row: 1 / span 2;
    grid-column: 3 / span 3;
    background-image: url("images/galeria/cabin6.jpg");
    background-size: cover;
    background-position: center;
}

.im7 {
    grid-row: 3 / span 2;
    grid-column: 3 / span 1;
    background-image: url("images/galeria/cabin7.jpg");
    background-size: cover;
    background-position: center;
}

.im8 {
    grid-row: 3 / span 2;
    grid-column: 4 / span 2;
    background-image: url("images/galeria/cabin8.jpg");
    background-size: cover;
    background-position: center;
}

.im9 {
    grid-row: 5 / span 1;
    grid-column: 3 / span 3;
    background-image: url("images/galeria/cabin9.jpg");
    background-size: cover;
    background-position: center;
}